// Dev layout: main pane on top (50%), two stacked panes on bottom (50%)
layout {
    pane size="50%"
    pane stacked=true size="50%" {
        pane
        pane
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
